@using Pinpaida.Entity.Entity;
<div class="index">
    <div class="searchbox wrap">
        <div class="searchtip">全网手机维修点数据库、查询系统</div>
        <div class="search">
            <div class="brand-sel">
                <span id="brandon">苹果</span>
                <div id="brandlist">
                    <ul>
                        <li data-id="0">所有品牌</li>
                        <li data-id="1">苹果</li>
                        <li data-id="2">华为</li>
                        <li data-id="4">小米</li>
                        <li data-id="6">OPPO</li>
                        <li data-id="5">VIVO</li>
                    </ul>
                </div>
            </div>
            <input type="hidden" name="brand" id="brand" value="1" />
            <input type="text" name="word" id="word" placeholder="输入城市\区域\店铺名称" />
            <input type="button" id="btnsearch" value="查询" />
        </div>
        <div class="hotcity mt20">
            热门城市：
            @if (ViewBag.AreaList != null && ViewBag.AreaList.Count > 0)
            {
                foreach (AreaFilteMobdel am in ViewBag.AreaList)
                {
                    <a href="/list/@am.CityName/">@am.CityName</a>
                }
            }
        </div>
    </div>
</div>
<div class="wrap nearstore">
    <h2>附近的手机维修点推荐</h2>
    <p>根据您的上网IP定位推荐维修点</p>
    <div class="storebox">
        @if (ViewBag.List != null && ViewBag.List.Count > 0)
        {
            foreach (StoreSearchModel model3 in ViewBag.List)
            {
                var stId = model3.Id;
                var name = model3.StoreName;
                var mainImageAll = model3.MainImageAll;
                var title = model3.city + model3.brandName + "维修点";
                <div class="storeitem" data-id="@stId">
                    <a href="/home/detail/?id=@stId" title=""><img src="@mainImageAll" alt="@name" /></a>
                    <h3><a href="/home/detail/?id=@stId" title="@name">@name</a></h3>
                    <a class="gray" href="/home/detail/?id=@stId">@title</a>
                </div>
            }
        }
    </div>
</div>
