@using Pinpaida.Entity.Entity;
<div class="wrap subnav">
    当前位置：
    <a href="/">品牌手机维修</a>
    &gt;
    <a href="/list/@ViewBag.CityPy/">@ViewBag.CityName 售后维修点</a>
    @if (!string.IsNullOrEmpty(ViewBag.AreaPy))
    {
        new HtmlString(">");
        <a href="@ViewBag.AreaPy/">@ViewBag.AreaName 售后维修点</a>
    }
</div>

<div class="wrap searchtool">
    @if (ViewBag.AreaList != null && ViewBag.AreaList.Count > 0)
    {
        <div class="line p20">
            区域：
            @foreach (AreaFilteMobdel am in ViewBag.AreaList)
            {
                <a href="/list/@am.CityNamePy/">@am.CityName</a>
            }
            @*<a class="curr" href="">北京</a>*@
        </div>
    }
</div>

@if (ViewBag.CityList != null && ViewBag.CityList.Count > 0)
{
    foreach (CityBrandModel model2 in ViewBag.CityList)
    {
        var cbName = ViewBag.CityName + model2.BrandName;
        <div class="wrap hdlist">
            <h2><a href="">@cbName 手机维修点</a></h2>
        </div>
        <div class="wrap">
            <div class="flex" style="background:white;">
                <div class="storelist">
                    <div class="storebox">
                        @if (model2.List != null && model2.List.Count > 0)
                        {
                            foreach (StoreSearchModel model3 in model2.List)
                            {
                                var name = model3.StoreName;
                                var mainImage = model3.MainImage;
                                var storeBadges = model3.storeBadges;
                                var apptSchedulerInd = model3.apptSchedulerInd;
                                var openTime = model3.openTime;
                                var phoneNumber = model3.phoneNumber;
                                var storeAddress = model3.storeAddress;
                                var icoOffical1 = storeBadges == 5 ? "ico-offical1" : "";
                                var icoCommend = storeBadges == 3 ? "ico-commend" : "";
                                var icoOffical2 = storeBadges == 1 ? "ico-offical2" : "";
                                var icoYuyue = apptSchedulerInd == 1 ? "ico-yuyue" : "";
                                var icoUnknown = storeBadges == 9 ? "ico-unknown" : "";
                                <div class="storeitem">
                                    <div class="thumb">
                                        <a href="#" title=""><img src='..@mainImage' alt="@name" /></a>
                                    </div>
                                    <div class="meta">
                                        <h2>
                                            <a href="" title="">
                                                @name
                                            </a>
                                        </h2>
                                        <div class="icons" data-storeBadges="@storeBadges">
                                            <span class='@icoOffical1'>官方直营</span>
                                            <span class='@icoOffical2'>官方授权</span>
                                            <span class='@icoCommend'>优质推荐</span>
                                            <span class='@icoYuyue'>支持预约</span>
                                            <span class='@icoUnknown'>未知店铺</span>
                                        </div>
                                        <div class="poi">
                                            @storeAddress
                                        </div>
                                        <div class="time">
                                            @openTime
                                        </div>
                                        <div class="tags">
                                            <a class="gray" href="">苏州苹果维修点</a>
                                            <a class="gray" href="">苹果维修点</a>
                                            <a class="gray" href="">官方维修点</a>
                                        </div>
                                    </div>
                                    <div class="more">
                                        <div>
                                            <a href="" class="phone">联系商家</a>
                                            <p class="phone-text">@phoneNumber</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="side">
                    <div style="text-align:right;"><img src="https://www.caobao.com/Public/Imgadv/201607/5780a3ac55753.jpg" /></div>

                    <div style="text-align: right;"><img src="https://www.caobao.com/Public/Imgadv/201607/5780a397a865c.jpg" /></div>

                </div>
            </div>
        </div>
    }
}
